.menu-item.active > a {
  background-color: #007bff;
  color: #fff !important;
  border-radius: 6px;
}

.menu-item.active > a i {
  color: #fff !important;
}

/* Parent submenu tetap aktif */
.menu-item.active.menu-open > a {
  background-color: #007bff;
  color: #fff !important;
}
